@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 40px 0 0 0;
}
section {
  margin: 20px auto;
  width: 600px;
}
footer {
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 60px 0;
  min-height: 140px;
  margin-top: 80px;
}

h1 {
  font-size: 2.5em;
  margin-top: 54px;
  font-weight: bold;
  letter-spacing: 5px;
}
h2 {
  letter-spacing: 4px;
}
footer h2 {
  display: inline;
  font-weight: normal;
  vertical-align: super;
}
h3 {
  text-transform: uppercase;
  margin-top: 0;
}
p {
  font-size: .8em;
}
ul {
  text-transform: uppercase;
  list-style-type: none;
  padding: 20px;
}
li {
  display: inline-block;
  float: left;
  margin: 0 20px;
}
li:hover {
  border-bottom: 1px solid #000;
  cursor: pointer;
}
li.selected {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.center {
  text-align: center;
}
.thumbnail-gallery {
  border: 2px solid #000;
  overflow: auto;
  padding: 10px;
  margin: 20px auto;
  width: 560px;
  min-height: 400px;
}
.thumbnail {
  border: 1px solid #000;
  float: left;
  width: 80px;
  height: 80px;
  margin: 30px 10px 10px 30px;
  opacity: .65;
}
.thumbnail img {
  width: 80px;
  height: 80px;
}
.thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}
.blanket {
  background: rgba(0, 0, 0, .35);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  display: none;
}
.lightbox {
  width: 90%;
  height: 85%;
  top: 5%;
  left: 5%;
  margin: auto;
  background: #fff;
  z-index: 3;
  position: fixed;
  padding: 0;
  text-align: center;
}
.lightbox-header {
  text-align: right;
  height: 40px;
}
.lightbox-image {
  height: calc(100% - 110px);
  overflow: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.lightbox-caption {
  height: 50px;
  font-style: italic;
  font-weight: lighter;
  padding: 0 30px;
}
.lightbox img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 97%;
}
.lightbox button {
  border: none;
  background: none;
  cursor: pointer;
}
.close-trigger {
  text-align: right;
  margin: 4px 0;
}
.left-trigger {
  transform: rotate(180deg);  
}


.clear {
  clear: left;
}
.light {
  font-weight: 300;
}
.right {
  text-align: right;
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.spin {
  animation: spin 2500ms linear infinite;
  margin-left: 30px;
  width: 30px;
}
