{{#if painting.title}}
  <div class="lightbox">
    <div class="lightbox-header">
      <button class="close-trigger"><img src="img/x.svg"/></button>
    </div>
    <div class="lightbox-image">
      {{#if prevSlug}}
        <button class="left-trigger" id="goto-{{prevSlug}}">
          <img src="img/arrow.svg"/>
        </button>
      {{/if}}
      <img src="img/works/{{painting.filename}}" />
      {{#if nextSlug}}
        <button class="right-trigger" id="goto-{{nextSlug}}">
          <img src="img/arrow.svg"/>
        </button>
      {{/if}}
    </div>
    <div class="lightbox-caption">
      <p>"{{painting.title}}" &mdash; {{painting.media}}. {{painting.dimensions}}. {{painting.date}}.</p>
    </div>

  </div>
{{/if}}
