
<div class="lightbox">
  <div class="lightbox-header">
    <button class="close-trigger"><img src="img/icons/x.svg"/></button>
  </div>
  <div class="lightbox-image">
    {{#if prevIndex}}
      <button class="left-trigger" id="{{prevIndex}}">
        <img src="img/icons/arrow.svg"/>
      </button>
    {{/if}}
    {{# if painting.is-text}}
      <div class="lightbox-plaintext">
        <p>
          {{#each painting.copy}}
            {{this}}<br/>
          {{/each}}
          {{#if painting.byline}}
            <span class="right">{{painting.byline}}</span>
          {{/if}}
      </p>
      </div>
    {{else}}
      <img src="img/works/{{painting.filename}}" />
    {{/if}}

    {{#if nextIndex}}
      <button class="right-trigger" id="{{nextIndex}}">
        <img src="img/icons/arrow.svg"/>
      </button>
    {{/if}}
  </div>
  {{#if painting.title}}
    <div class="lightbox-caption">
      <p>"{{painting.title}}" &mdash; {{painting.media}}. {{painting.dimensions}}. {{painting.date}}.</p>
    </div>
  {{/if}}
</div>
