
/* gallery thumbnails */
.galleries-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.gallery-thumbnail {
  width: 0;
  height: 0;
}
.gallery-thumbnail {
  display: inline-block;
  cursor: pointer;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
  transition: width .5s, height .5s;
}
.gallery-thumbnail img, .gallery-thumbnail div  {
  width: 150px;
  height: 150px;
  transition: opacity .3s;
  position: absolute;
}
.gallery-thumbnail div {
  font-size: 1.5em;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 20px 5px;
  opacity: 0;
  display: flex;
  align-items: center;
}
.gallery-thumbnail div p {
  width: 100%;
}
.gallery-thumbnail img {
  left: 0;
}
.gallery-thumbnail:hover img {
  opacity: 0.1;
}
.gallery-thumbnail:hover div {
  opacity: 1;
}

/* lightbox view */
.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background: #fff;
  z-index: 3;
  position: fixed;
  padding: 0;
  text-align: center;
}
.lightbox-header {
  text-align: right;
  height: 40px;
  padding-top: 4px;
}
.lightbox-image {
  height: calc(100% - 110px);
  overflow: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.lightbox-caption {
  height: 50px;
  font-style: italic;
  font-weight: lighter;
  padding: 0 30px;
}
.lightbox img {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}
.lightbox-plaintext {
  font-family: monospace;
  width: auto;
  height: 100%;
  max-width: 750px;
  font-size: 2em;
  line-height: 2em;
}
.lightbox-plaintext p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox button {
  border: none;
  background: none;
  cursor: pointer;
}
.close-trigger {
  text-align: right;
  margin: 4px 0;
}
.left-trigger {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  transform: rotate(180deg);
}
.right-trigger {
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
}

@media (max-width: 750px) {
  .galleries-nav {
    display: block;
  }
  .gallery-thumbnail {
    display: block;
    margin: 0px auto 20px auto;
  }
  .gallery-thumbnail img {
    opacity: 0.1;
  }
  .gallery-thumbnail div {
    opacity: 1;
    padding: 10px 5px;
  }
}
