@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
@import url('lightbox.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 0 !important;
}
.section-content {
  margin: 20px auto;
  width: 600px;
}
#collections-nav-content {
  padding: 20px 0;
}
.about {
  border-top: 1px solid black;
  overflow: auto;
  font-weight: 300;
  font-size: 1em;
  padding: 20px;
  min-height: 60px;
  background: #ddd;
  font-size: 0.9em;
}
.bio p {
  font-size: 0.8em;
}
.about .section-content {
  display: none;
}
.vertical-dots-spacer {
  border-left: 5px dotted #000;
  height: 50px;
  margin-left: 50%;
  display: none;
}
footer {
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 40px 0;
}

h1 {
  font-size: 2.5em;
  margin-top: 54px;
  font-weight: bold;
  letter-spacing: 5px;
}
h2 {
  letter-spacing: 4px;
  margin: 20px;
}
footer h2 {
  display: inline;
  font-weight: normal;
  vertical-align: super;
}
h3 {
  text-transform: uppercase;
  margin-top: 0;
}
h6 {
  text-transform: uppercase;
  margin: 0;
}
p {
  font-size: .8em;
}
ul {
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 20px;
}

.blanket {
  background: rgba(0, 0, 0, .35);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  display: none;
}

.light {
  font-weight: 300;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.half-width-col {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50%;
  padding: 2%;
}
.hidden {
  display: none;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.spin {
  animation: spin 2500ms linear infinite;
  margin-left: 30px;
  width: 30px;
}
